.App {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: auto;
  margin-top: 10px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  li {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

form {
  display: flex;
  justify-content: space-between;

  input {
    width: 100%;
  }
}

.btns {
  display: flex;
  gap: 5px;

  button {
    width: 40px;
  }
}

button {
  height: 100%;
  padding: 2px;
}